name: buildAndPush
on:
  workflow_dispatch:
permissions:
  id-token: write
  contents: read
env:
      acr_login_server: todoaksacrspsingh.azurecr.io
      image_name: todo-get-service
      image_version: v1
jobs:
  buildAndPush:
    name: build and push to acr
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0      
      - name: image build
        run: docker build -t $image_name:$image_version .
      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: acr login
        run: az acr login --name todoaksacrspsingh
      - name: tag to acr
        run: docker tag $image_name:$image_version $acr_login_server/$image_name:$image_version        
      - name: push to acr
        run: docker push $acr_login_server/$image_name:$image_version
